version: "3.9"

services:
  e2e-chrome:
    image: resume-website:latest
    container_name: resume-website
    ports:
      - "8080:80"
    volumes:
      - ./cypress/videos:/resume-website/cypress/videos
      - ./cypress/reports:/resume-website/cypress/reports
    command: "test"
